<div id="footer">
				<div id="footer_line"></div>
				<div id="footer_main">
					<div id="footer_content">
						<a id="sv-lab" href="http://www.sv-lab.ru/"></a>
						<div id="footer_text_1">Портал <b>chaiknet.ru</b> — <a href="/">Социальная сеть г. Чайковского</a></div><br/>
						<div id="footer_text_2"><a href="http://chaiknet.ru/contact/" target="_blank">Контакты</a>&nbsp;/&nbsp;<a href="http://chaiknet.ru/sonem/files/chaiknet.pdf" target="_blank">Размещение рекламы</a></div>
						
<div style="position: absolute;right: 12px;bottom:12px;">
<!-- chaiknet.ru counter -->
<a href="http://chaiknet.ru/site/" target="_blank" title="Рейтинг чайковских сайтов">
<img border="0" width="88" height="31" src="http://counter.chaiknet.ru/rating.2.1.1" alt="Рейтинг chaiknet.ru" /></a>
<!-- /chaiknet.ru counter -->                
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t21.12;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=7795711&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/7795711/3_0_86B9B9FF_669999FF_0_pageviews"
style="width:88px; height:31px; border:0;" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:7795711,type:0,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter7795711 = new Ya.Metrika({id:7795711, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/7795711" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
			    </div>

					</div>

				</div>
				<div id="footer_bline"></div>
			</div>	
		</div>