
<div id="wrapper">
		<div id="head_banner"></div>
			<div id="header">
				<div id="head_left">
					<a href="http://chaiknet.ru/" id="linktomain"></a>
					<!--<div id="auth"></div>-->
					<div id="cbr"><div style="text-decoration: underline;">курс валют</div><div class="cbr"><div class="cbr_line" id="dol"></div><div class="cbr_line" id="eur"></div></div></div>
					<div id="weather">
						<div id="weacher-left">
							<div id="weacher-img" ><img id="w_img" src=""/></div><div id="weacher-t"><span class="fact"></span>°C</div><br/>
							<div id="weacher-type"><br/></div>
						</div>
						<div id="weacher-right">
							<a href="http://chaiknet.ru/weather/" id="weacher-title">Погода в Чайковском</a><br/>
							<span id="soon_title"></span>: <span id="soon_value"></span>°C<br />
							завтра: <span id="morrow"></span>°C<br />
							послезавтра: <span id="weacher_ta"></span>°C<br />
						</div>
					</div>
					<div id="search">
						<form action="http://chaiknet.ru/search/" method="get">
							<input id="search_text" name="text" type="text"/>
							<input id="search_button" name="submit" type="submit" value="Поиск"/>
						</form>
					</div>
				</div>
			</div>
			<div id="main_menu">			
				<div id="main_menu_left">
					<div id="main_menu_right">
						<div id="main_menu_center">
							<ul>
    <li><a href="http://chaiknet.ru/">Главная</a></li>
	<li><a href="http://chaiknet.ru/person/">Люди</a>
        <ul>
            <li><a href="http://chaiknet.ru/person/">Пользователи</a></li>
            <li><a href="http://chaiknet.ru/interview/">Интервью</a></li>
            <li><a href="http://chaiknet.ru/opinion/">Мнения</a></li>
            <li><a href="http://chaiknet.ru/photo/">Фотоальбомы</a></li>                                        
        </ul>
    </li>
<li><a href="http://chaiknet.ru/news/">Новости</a>
        <ul>
            <li><a href="http://chaiknet.ru/postfactum/">Постфактум</a></li>
            <li><a href="http://chaiknet.ru/news/society/">Общество</a></li>
            <li><a href="http://chaiknet.ru/news/politics/">Политика</a></li>
            <li><a href="http://chaiknet.ru/news/internet/">Интернет</a></li>
            <li><a href="http://chaiknet.ru/news/business/">Бизнес</a></li>
            <li><a href="http://chaiknet.ru/news/auto/">Авто</a></li>
            <li><a href="http://chaiknet.ru/news/sport/">Спорт</a></li>
            <li><a href="http://chaiknet.ru/news/incidents/">Происшествия</a></li>
            <li><a href="http://chaiknet.ru/news/science/">Наука</a></li>
            <li><a href="http://chaiknet.ru/news/afisha/">Афиша</a></li>
        </ul>
	</li>
<li><a href="http://chaiknet.ru/adv/">Объявления</a></li>
	<li><a href="http://chaiknet.ru/company/">Организации</a></li>
	<li><a href="http://chaiknet.ru/site/">Сайты</a></li>
	<li><a href="http://chaiknet.ru/afisha/">Афиша</a>
        <ul>
            <li><a href="http://chaiknet.ru/afisha/">Афиша&nbsp;города</a></li>
            <li><a href="http://chaiknet.ru/event/">События</a></li>
            <li><a href="http://chaiknet.ru/kama/">КЦ Кама</a></li>
        </ul>
    </li>
    <li><a href="http://chaiknet.ru/konkurs/">Конкурсы</a>
        <ul>
            <li><a href="http://chaiknet.ru/konkurs/kama/">КиноЭксперт</a>
        </ul>    
    </li>
    <li><a href="http://chaiknet.ru/article/">Статьи</a></li>
    <li><a href="http://chaiknet.ru/weather/">Погода</a></li>
    <li><a href="http://love.chaiknet.ru/" style="color: #fbb4ff;">Знакомства</a></li>
</ul>
						</div>
					</div>
				</div>
			</div>
     </div>